# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\成都信息工程大学\软件工程\df\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
